<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="option" value="0" />
    <add key="lock" value="3" />
    <add key="shukusen" value="..\Shukusen\ShukuSen.exe" />
    <add key="ignore_directories" value="単ページ" />
    <add key="ignore_files" value=".db:.dll:.htm:.lnk:.url:.html:.shtml:.txt" />
  </appSettings>
</configuration>